* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #111;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

header .logo {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

header .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: yellow;
    cursor: pointer;
}

.slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
}

.slider .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    z-index: 1;
    transition-delay: 0s;
    clip-path: circle(0px at center);
}

.slider input[type='radio']:checked +.imgBx {
    z-index: 10;
    clip-path: circle(10000px at center);
    transition-delay: 0.75s;
}

.slider .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .imgBx .content {
    position: relative;
    text-align: center;
    max-width: 800px;
    color: #fff;
}

.slider .imgBx .content h2 {
    font-size: 6em;
    line-height: 1.1em;

}

.slider .imgBx .content p {
    font-size: 1.1em;
}

.slider .imgBx .content a {
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 10px 30px;
    color: #111;
    text-decoration: none;
    font-weight: 500;
    margin-top: 20px;

}

.slider input[type="radio"] {
    position: relative;
    z-index: 11111;
    margin: 5px;
    margin-bottom: 40px;
    cursor: pointer;
}